@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url(reset.css);

.wrapper {
  min-height: 100%;
  overflow: clip;

  background-color: #98abee;
  font-family: "Roboto", sans-serif;
}

[class*="__container"] {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

/* ============================================================================================== */

.header {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(152, 171, 238, 0, 9);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 999;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

.header__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 0 auto;
}

/* ============================================================================================== */

.page {
  padding: 150px;
}

.page__container {
  background-color: #f7f7ea;
  padding: 50px;
  min-height: 2000px;
  border-radius: 10px;
}

.page__form--margin {
  margin-bottom: 50px;
}

.page__form {
  display: flex;
  flex-direction: column;
  color: #092635;
  margin: 0 auto;
}

.label {
  align-self: start;
  margin-bottom: 15px;
}

.textarea {
  resize: none;
  height: 200px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  margin-bottom: 15px;
  border: 1px solid #6554af;
}

.input {
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  padding: 0 10px;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  margin-bottom: 50px;
  border: 1px solid #6554af;
}

.page__button {
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  padding: 15px 50px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #6554af;
}

.page__counter:not(:last-child) {
  margin-bottom: 70px;
}

/* ============================================================================================== */
.card {
  max-width: 450px;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  color: #092635;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  padding: 30px 25px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.125),
    -1px -1px 10px 1px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card:not(:last-child) {
  margin-bottom: 50px;
}

.card__question {
  font-size: 40px;
  font-weight: 600;
}

.card__answer {
  font-size: 36px;
  font-weight: 600;
}

.card__tag {
  font-size: 34px;
  font-weight: 600;
}
/* ============================================================================================== */

.footer {
  width: 100%;
  min-height: 100px;
  padding: 15px 0;
  background-color: rgba(152, 171, 238, 0, 9);
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 90px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: -70px;
  left: 0;
}

.footer__link {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.footer__link img {
  width: 100%;
  object-fit: cover;
}

.footer__link--house {
  position: absolute;
  bottom: 0px;
  left: 100px;
}

.footer__link--bookmark {
  position: absolute;
  bottom: 0;
  left: 325px;
}

.footer__link--plus {
  position: absolute;
  bottom: 0;
  left: 545px;
}

.footer__link--user {
  position: absolute;
  bottom: 0;
  left: 800px;
}

.house-none {
  display: none;
}

.bookmark-none {
  display: none;
}

.plus-none {
  display: none;
}

.user-none {
  display: none;
}

.footer__link--house:hover {
  background: url(../img/home_icon_black_two.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.footer__link--bookmark:hover {
  background: url(../img/icon_bookmark_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.footer__link--plus:hover {
  background: url(../img/plus_icon_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.footer__link--user:hover {
  background: url(../img/user_icon_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}
