@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url(reset.css);

.wrapper {
  min-height: 100%;
  overflow: clip;

  background-color: #f8f8f8;
  /* color: #000; */
  font-family: "Roboto", sans-serif;
}

[class*="__container"] {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

/* ============================================================================================== */

.header {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(248, 248, 248, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 999;
}

.header__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 0 auto;
}

/* ============================================================================================== */
.page__container--main {
  min-height: 1000px;
  padding: 250px 50px 0 50px;
  max-width: 600px;
}

.page__top {
  display: flex;
  gap: 20px 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 80px;
}

.page__image {
  flex: 0 0 150px;
  display: inline;
  overflow: hidden;
}

.page__title {
  font-size: 40px;
  font-weight: 600;
  /* background-color: aqua; */
}

.page__about-me {
  text-align: start;
}

/* ============================================================================================== */

.footer {
  width: 100%;
  padding: 15px 0;
  background-color: rgba(248, 248, 248, 0.8);
  backdrop-filter: blur(15px);
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 90px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.footer__link {
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.footer__link img {
  width: 100%;
  object-fit: cover;
}

.footer__link--house {
  position: absolute;
  bottom: 0;
  left: 290px;
}

.footer__link--bookmark {
  position: absolute;
  bottom: 0;
  left: 450px;
}

.footer__link--user {
  position: absolute;
  bottom: 0;
  left: 611px;
}

.house-none {
  display: none;
}

.bookmark-none {
  display: none;
}

.user-none {
  display: none;
}

.footer__link-house:hover {
  background: url(../img/home_icon_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.footer__link-bookmark:hover {
  background: url(../img/icon_bookmark_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}

.footer__link-user:hover {
  background: url(../img/user_icon_black.png) 0 0 / 100% no-repeat;
  width: 70px;
  height: 70px;
}
