/* .form__margin {
  padding-bottom: 50px;
} */

.form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  color: #092635;
  margin: 0 auto;
}

.textarea {
  resize: none;
  height: 200px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  margin-bottom: 15px;
  border: 1px solid #6554af;
}

.label {
  align-self: start;
  margin-bottom: 15px;
}

.input {
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  padding: 0 10px;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  margin-bottom: 50px;
  border: 1px solid #6554af;
}

.form__character-count {
  justify-self: end;
  color: #555;
}

.form__submit-button {
  width: 40%;
  align-self: center;
  background: radial-gradient(
    circle,
    rgba(245, 246, 210, 1) 0%,
    rgba(212, 231, 252, 1) 100%
  );
  border: 1px solid #6554af;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1rem;
}
