.header {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: rgba(152, 171, 238, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 999;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

.header__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 10px;
  margin: 0 auto;
}
