.card {
  min-width: 450px;
  border-radius: 8px;
  position: relative;
  margin: 0 auto;
  background: radial-gradient(
    circle,
    rgba(229, 233, 128, 1) 0%,
    rgba(140, 181, 230, 1) 100%
  );
  padding: 30px 25px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.125),
    -1px -1px 10px 1px rgba(0, 0, 0, 0.125);
  text-align: center;
}

.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__question {
  margin: 0 0 2rem;
}

.card__button-answer {
  padding: 10px 10px;
  border-radius: 5px;
  border: 2px solid #222831;
  background-color: rgba(128, 128, 128, 0.134);
}

@media (any-hover: hover) {
  [class*="__button"]:hover {
    background-color: rgba(128, 128, 128, 0.4);
    cursor: pointer;
  }
}

.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

/* .card__tag-list-item {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 4px;
  padding: 0 5px;
} */
