.bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* background: ; */
  color: #fff;
}

.bookmark:hover {
  cursor: pointer;
  background-color: #ffffff42;
}

.bookmark--active {
  color: #000;
}

.bookmark__icon {
  fill: currentcolor;
  width: 24px;
  height: 24px;
}
